/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

	#logo {width: auto}
	#site-desc{display: inline-block;
		font-size: 1em;
    	width: 40%;

float: right;
text-align: right;
padding-top: 40px;}